
<div class="container">
  <div class="row">
    <div class="col-12" *ngIf="isAdministrador() || isEntrenador()">
      <h1 class="text-center">Listado de dietas</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Objetivo</th>
            <th>Descripcion</th>
            <th>Observaciones</th>
            <th>Duración en días</th>
            <th>Recomendaciones</th>
            <th>Id de la dieta</th>
            <th>Id de los clientes asociados</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dieta of dietas" class="align-middle">
            <td>{{dieta.nombre}}</td>
            <td>{{dieta.objetivo}}</td>
            <td>{{dieta.descripcion}} </td>
            <td>{{dieta.observaciones}}</td>
            <td>{{dieta.duracionDias}}</td>
            <td>{{dieta.recomendaciones}}</td>
            <td>{{dieta.id}}</td>
            <td>{{dieta.clientes}}</td>
            <td><button class="btn btn-sm btn-outline-primary m-1" (click)="editarDieta(dieta)"><i class="bi bi-pencil-fill"></i></button>
              <button class="btn btn-sm btn-outline-danger m-1" (click)="eliminarDieta(dieta.id)"><i class="bi bi-trash-fill"></i></button></td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-outline-success bi bi-plus-lg" (click)="aniadirDieta()"></button>
    </div>


  <div>
    <div class="row">
      <div class="col-12" *ngIf="isCliente()">

        <h1 class="text-center">Listado de dietas</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Objetivo</th>
              <th>Descripcion</th>
              <th>Observaciones</th>
              <th>Duración en días</th>
              <th>Recomendaciones</th>
              <th>Id de la dieta</th>
              <th>Id de los clientes asociados</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dieta of this.dietasClientess" class="align-middle">
              <td>{{dieta.nombre}}</td>
              <td>{{dieta.objetivo}}</td>
              <td>{{dieta.descripcion}} </td>
              <td>{{dieta.observaciones}}</td>
              <td>{{dieta.duracionDias}}</td>
              <td>{{dieta.recomendaciones}}</td>
              <td>{{dieta.id}}</td>
              <td>{{dieta.clientes}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>

