<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{accion}} usuario</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cierre usuario')"></button>
</div>
<div class="modal-body">
  <form class="form-group" novalidate>
    <label for="nombre">Nombre:</label>
    <input class="form-control" id="nombre" name="nombre" [(ngModel)]="usuario.nombre" placeholder="nombre">
    <label for="apellido1">Primer apellido:</label>
    <input class="form-control" id="apellido1" name="apellido1" [(ngModel)]="usuario.apellido1"
      placeholder="primer apellido">
    <label for="apellido2">Segundo apellido:</label>
    <input class="form-control" id="apellido2" name="apellido2" [(ngModel)]="usuario.apellido2"
      placeholder="segundo apellido">
    <label for="email">E-mail:</label>
    <input class="form-control" id="email" name="email" [(ngModel)]="usuario.email" placeholder="cuenta@dominio.com">
    <label for="contrasenia">Contraseña:</label>
    <input class="form-control" [class.is-invalid]="error" id="contrasenia" name="contrasenia"
      [(ngModel)]="usuario.password" placeholder="(deje en blanco para mantener o generar)" type="password">
    <div *ngIf="error" class="invalid-feedback">
      {{error}}
    </div>
    <label for="rcontrasenia">Repita contraseña:</label>
    <input class="form-control" [class.is-invalid]="error" id="rcontrasenia" name="rcontrasenia" [(ngModel)]="rpassword"
      placeholder="(deje en blanco para mantener o generar)" type="password">
    <br>
    <p>Puede seleccionar un rol adicional para este usuario (son mutualmente excluyentes): </p>
    <input class="form-check-input" id="administrador" name="rol" [(ngModel)]="usuario.administrador"
    type="checkbox" *ngIf="!usuario.entrenador">
    <label class="form-check-label" for="administrador">Administrador</label>
    <br>
    <input class="form-check-input" id="entrenador" name="rol" [(ngModel)]="usuario.entrenador"
    type="checkbox" *ngIf="!usuario.administrador">
    <label class="form-check-label" for="entrenador">Entrenador</label> <br> <br>
    <label for="numeros" *ngIf="usuario.entrenador">Identificador de los clientes (separados por comas) a los que este usuario entrena:</label> 
    <textarea class="form-control" *ngIf="usuario.entrenador" id="clientes " [(ngModel)]="usuario.clientes" [(ngModel)]="usuario.clientes" [ngModelOptions]="{standalone: true}" placeholder="1, 2, 3"></textarea> 
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="guardarUsuario()">Guardar</button>
</div>
