<h4 style="text-indent: 10px;">Página principal</h4>
<div style = "text-indent: 10px;">
    <p><a type="button" class="btn btn-outline-primary"[routerLink]="'/usuarios'" >Gestión de usuarios (solo administradores)</a></p>
    
    <p><a type="button" class="btn btn-outline-primary"[routerLink]="'/listadoDietas'" >Ir a dietas</a></p>
    <!--
        comento esto porque no tiene sentido que algo relacionado con dietas este en el home.
        Lo he metido en dietas.component.html para visualizar solamente en caso de ser administrador
        <a [routerLink]="'/listadoDietas'">Formulario (solo administradores)</a>
    -->
    
</div>
