<div>
  @if (rolDeUsuario === 'entrenador') {
    <div class="contenedor">
      <p>Eres un entrenador</p>
      <button type="button" class="btn btn-outline-primary bi bi-plus-lg" [routerLink]="'/formulario-dieta'" (click)="aniadirDieta()">Formulario (solo entrenadores)</button>
      <router-outlet />
    </div>
    
  } @else if (rolDeUsuario === 'cliente') {
    <p>Eres un cliente</p>
      <a type="button" class="btn btn-outline-primary"[routerLink]="'/listadoDietas'">Consulta aquí tus dietas</a>
  } @else if(rolDeUsuario === 'administrador'){
    <div class="contenedor">
      <a type="button" class="btn btn-outline-primary"[routerLink]="'/listadoDietas'">Listado (solo administradores)</a>
    </div>
    
  }  
</div>

